img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

p {
  font-family: pacifico;
  font-size: 55px;
  margin-left: 1.66%;
  border-bottom: 2px solid #f1f1f1;
  width: 22%;
  padding-bottom: 20px;
}
